<p id="notice"><%= notice %></p>

<h1>Listing Memes</h1>



<%= link_to 'New Meme', new_meme_path %>



<% @memes.each do |meme| %>

<div class="gallery">
  <a target="_blank" href="fjords.jpg">                        
     <%= link_to image_tag(meme.image.url), meme %>         
  
  <div class="desc">Meme uploaded by: <a href="/profiles/<%= User.find(meme.user_id).id %>"><%= meme.user.email %></td>
  </div>
</div>

<% end %>